@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');

$fonte-padrao: 'Baloo Chettan 2', cursive;

body {
  font-family: $fonte-padrao;
}

.botao_vermelho {
  font-family: $fonte-padrao;
  font-size: 20;
}

#trackpad {
  width: 400px;
  height: 100px;
  border: 1px solid black;
  margin: 5px 0 5px 0;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
}

.quadrado {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 2px grey;
}

.verde {
  background-color: lightgreen;
}